html,
body {
	background: #ffffff;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: montserratbold;
	font-size: 30px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

h1 {
	margin: 0px;
	margin-top: 20px;
}

#container {
	position: relative;
}

#title {
	position: absolute;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

#renderCanvas {
	width: 100%;
	height: 100%;
	touch-action: none;
}

#renderCanvas:focus {
	outline: 0;
}
