/* fix for mobile fonts */
@import url("./fonts/montserrat/stylesheet.css");

html,
body {
    background: #ffffff;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: montserratbold;
    font-size: 30px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#title {
    text-align: center;
    text-transform: uppercase;
}

#renderCanvas:focus {
    outline: 0;
}
