#cards-container {
    display: flex;
    margin: 30px;
}

.card {
  opacity: 1;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  width: 50%;
  margin: 0 auto;
  width: min-content;
  min-width: 300px;
  height: fit-content;
  padding: 16px;
  background: linear-gradient(rgba(182, 182, 182, 0.5), white);
}

h5 {
  text-transform: none;
  font-size: 25px;
}

h5, .img-top {
  margin: 5px 0px;
}

.img-top {
  height: fit-content;
  width: fit-content;
  margin: 15px 0px;
  align-self: center;
}

.body {
  display: flex;
}

.card-link {
  font-size: 20px;
}

.body > .text {
    margin: 10px 0px;
    font-size: 12px;
    text-transform: none;
}

.show {
  -webkit-animation: fadein 0.2s linear forwards;
  animation: fadein 0.2s linear forwards;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hide {
  -webkit-animation: fadeout 0.2s linear forwards;
  animation: fadeout 0.2s linear forwards;
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}